.flex.gap-4.flex-wrap.justify-center
  // Aquí puedes agregar contenido
  .bg-gray-200.p-2.rounded-md Contenido 
  .bg-gray-200.p-2.rounded-md Contenido 2
  .bg-gray-200.p-2.rounded-md contenido 3
  .bg-gray-200.p-2.rounded-md contenido 2
  .bg-gray-200.p-2.rounded-md contenido 5
  .p-2.rounded-md.border-2.border-indigo-500(class="hover:border-indigo-700") contenido 6
