
nav.flex.bg-white.items-center.justify-between.p-4(aria-label="Global", class="lg:px-8")
  div.flex(class="lg:flex-1")
    a(href="#",class="m-1.5.p-1.5")
      span.sr-only Your Company
      img.h-8.w-auto(src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600", alt="")
  div.flex(class="lg:hidden")
    button.inline-flex.items-center.justify-center.rounded-md.text-gray-700(type="button", class="m-2.5 p-2.5")
      span.sr-only Open main menu
      svg.h-6.w-6(fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="currentColor", aria-hidden="true")
        path(stroke-linecap="round", stroke-linejoin="round", d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5")
  div.hidden(class="lg:flex lg:gap-x-12")
    a.text-sm.font-semibold.leading-6.text-gray-900(href="#") Product
    a.text-sm.font-semibold.leading-6.text-gray-900(href="#") Features
    a.text-sm.font-semibold.leading-6.text-gray-900(href="#") Marketplace
    a.text-sm.font-semibold.leading-6.text-gray-900(href="#") Company