
//- // Background backdrop, show/hide based on slide-over state.
//- div(class="lg:hidden",role="dialog",aria-modal="true")
//-   div.fixed.inset-0.z-50
//-   div.fixed.inset-y-0.right-0.z-50.w-full.overflow-y-auto.bg-white.px-6.py-6(class="sm:max-w-sm sm:ring-1 sm:ring-gray-900/10")
//-     div.flex.items-center.justify-between
//-       a(href="#" class="-m-1.5 p-1.5")
//-         span.sr-only Your Company
//-         img.h-8.w-auto(src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600", alt="")
//-       button(type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700")
//-         span.sr-only Close menu
//-         svg.h-6.w-6(fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="currentColor", aria-hidden="true")
//-           path(stroke-linecap="round", stroke-linejoin="round", d="M6 18L18 6M6 6l12 12")
//-     div.mt-6.flow-root
//-       div.-my-6.divide-y.divide-gray-500/10
//-         div.space-y-2.py-6
//-           a(href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50") Product
//-           a(href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50") Features
//-           a(href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50") Marketplace
//-           a(href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50") Company