.offcanvas(id="offcanvas")
  .offcanvas-content
    button.close-button(type="button", id="close-button", aria-label="Cerrar menú")
      svg(viewBox="0 0 24 24", class="h-6 w-6")
        path(fill="currentColor", d="M19.4 17.4l-2.8-2.8L12 14.2l-4.6-4.6-2.8 2.8L9.2 12 4.6 16.6l2.8 2.8L12 14.8l4.6 4.6 2.8-2.8L14.8 12z")

    a(href="#", class="p-2 block") Inicio
    a(href="#", class="p-2 block") Acerca de
    a(href="#", class="p-2 block") Servicios
    a(href="#", class="p-2 block") Contacto