div.py-16
  .m-8
    h1.font-bold.text-4xl.text-center.my-4(class="text-[#1557FF]") ¡Bienvenido a mi proyecto Vanilla!!!!!!!

  include ../search/searchComponent

  p.text-center.text-xl Somo el primer buscador en argentina de ensayos clinicos.