doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Mi Proyecto Vanilla
    // Enlace a Tailwind CSS
    link(href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css", rel="stylesheet")
    link(rel="stylesheet", href="assets/styles/css.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    
    script(src="https://cdn.tailwindcss.com")
  body
    div.bg-white
      header.absolute.inset-x-0.top-0.z-50
        include components/menu/menuComponent

    //- mb es margin bottom
    .container-xl.flex.flex-col.gap-32.mx-auto(class="padding-top-32 bg-[#bfdbfe]" )
      include components/sections/sectionOne
      include components/sections/sectionTwo
      include components/sections/sectionThree

  
  script(src="./assets/js/offcanvas.js")
  
   
